* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#header-logo {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100px; /* Define uma altura para o header */
}

#header-logo img {
    width: 180px; /* Mantém a proporção da imagem */
    max-width: 100px; /* Ajuste conforme necessário */
    object-fit: contain; /* Garante que a imagem não distorça */
}


/* Formatação Geral das Tags */

a {
    text-decoration: none;
    color: #000;
}

/* Formatação das classes geral */

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.flex {
    display: flex;
}

.justify-content-space-between {
    justify-content: space-between;
}

/* header */

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Centraliza os itens no header */
    align-items: center;
    height: 120px; /* Define uma altura fixa */
}

/* Menu de navegação */

nav {
    background-color: #f4f4f4;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    background-color: #f4f4f4;
    color: #333;
    padding: auto;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #333;
    color: #f4f4f4;
}

main {
    padding: 10px 0;
    background-color: #f4f4f4;
}

main section {
    border: 1px dashed #ddd;
    margin: 20px 0;
}

main h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
}